<ion-header>
  <ion-toolbar>
    <ion-title>print</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <button ion-button (click)="sanitize()">scan</button>
  <button ion-button (click)="openWindow()">scan</button>
</ion-content>