.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.center-text {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    color: red;
}