<ion-header>
  <ion-toolbar color="primary">
    <!-- <ion-buttons slot="primary" (click)="logout()">
      <ion-button>
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons> -->
    <ion-title>QR Itruck Checker</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="form" (ngSubmit)="onSubmit(model)">
    <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>

    <!-- <ion-button color="primary" type="submit" expand="block">Login</ion-button> -->
  </form>

  <!-- <h1>Click Button To Scan</h1> -->

  <ion-img src="https://api.qrserver.com/v1/create-qr-code/?data=qritruck&amp;size=100x100" class="center"
    style="margin-top: 10px;"></ion-img>

  <ion-button (click)="scanCheckTruck()" expand="block" fill="outline" style="margin: 16px 16px 0px;">
    <!-- <ion-icon name="qr-scanner"></ion-icon> -->
    Truck QR Code Scan
  </ion-button>


  <ion-list style="padding: 0;">

    <ion-item *ngIf="showTrx">
      <ion-label>Waktu Scan</ion-label>
      <ion-text style="color: red"> waktu </ion-text>
    </ion-item>

    <ion-item *ngIf="showTrx">
      <ion-label>No. Trans</ion-label>
      <ion-text style="color: red"> scannedData.checkId </ion-text>
    </ion-item>

    <ion-item>
      <ion-label>No. Pol</ion-label>
      <ion-text> {{ scannedData.nopol }} </ion-text>
      <!-- <ion-input [(ngModel)]="scannedData.truck.truck_nopol" type="text" disabled style="opacity: 1;"></ion-input> -->
    </ion-item>

    <ion-item>
      <ion-label>Driver</ion-label>
      <ion-text> {{ scannedData.supir }} </ion-text>
      <!-- <ion-input type="text" disabled placeholder="Nama Supir"></ion-input> -->
    </ion-item>

    <ion-item>
      <ion-label>Suplayer</ion-label>
      <ion-text> {{ scannedData.perusahaan.name }} </ion-text>
      <!-- <ion-select disabled okText="Okay" cancelText="Dismiss">
            <ion-select-option *ngFor="let item of suplayer" value=" item.suplay_id "> item.suplay_nama </ion-select-option>
          </ion-select> -->
    </ion-item>

    <!-- <ion-item>
      <ion-label>Quarry</ion-label>
      <ion-text> scannedData.quarry.quarry_nama </ion-text>
    </ion-item> -->

    <ion-item>
      <ion-label>Indeks Volume</ion-label>
      <ion-text> {{ scannedData.index }} </ion-text>
      <!-- <ion-input type="number" disabled></ion-input> -->
    </ion-item>

    <ion-grid style="padding: 0;">
      <ion-row style="padding: 0;">
        <ion-col style="padding: 0;">
          <ion-item>
            <ion-label>Panjang</ion-label>
            <ion-text> {{ scannedData.panjang }} </ion-text>
            <!-- <ion-input type="number" disabled></ion-input> -->
          </ion-item>
        </ion-col>
        <ion-col style="padding: 0;">
          <ion-item>
            <ion-label>Lebar</ion-label>
            <ion-text> {{ scannedData.lebar }} </ion-text>
            <!-- <ion-input type="number" disabled></ion-input> -->
          </ion-item>
        </ion-col>
        <ion-col style="padding: 0;">
          <ion-item>
            <ion-label>Tinggi</ion-label>
            <ion-text> {{ scannedData.tinggi }} </ion-text>
            <!-- <ion-input type="number" disabled></ion-input> -->
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- <ion-button type="submit" expand="block" padding>Registrasi Kendaraan Truck</ion-button> -->
  </ion-list>

</ion-content>

<ion-footer *ngIf="showFooter">
  <ion-toolbar>
    <ion-button (click)="processtrx()" expand="block" color="primary">Proses Transaksi</ion-button>
    <!-- <ion-button (click)="printRecipt()" expand="block" color="primary">Proses Transaksi</ion-button> -->
  </ion-toolbar>
</ion-footer>