<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Kelola Transportasi Truck</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form" (ngSubmit)="onSubmit(model)">
    <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>

    <!-- <ion-button color="primary" type="submit" expand="block">Login</ion-button> -->
  </form>
  <!-- <ion-list>
    <ion-item>
      <ion-label>
        <h2 style="position: absolute;">A 1771 NG</h2>
        <h2 style="text-align: end;">22 m³</h2>
        <p>Selmaet Yadi Haryanto</p>
      </ion-label>
    </ion-item>
  </ion-list> -->

  <ion-list>
    <ion-item *ngFor="let item of data; index as i">
      <ion-label (click)="readModal(i)">
        <h2 style="position: absolute;">{{ item.nopol }}</h2>
        <h2 style="text-align: end;">{{ item.index }} m³</h2>
        <p>{{ item.supir }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <!-- fab placed to the bottom end -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="presentModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>