<ion-header>
  <ion-toolbar>
    <ion-title>{{headTitle}} Project</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="modalController.dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form" (ngSubmit)="onSubmit(model)">
    <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>
    <!-- <button class="btn btn-default">Submit</button> -->
    <!-- <br> -->
    <!-- <ion-button color="primary" type="submit" expand="block">Login</ion-button> -->
  </form>
</ion-content>

<ion-footer>
  <ion-toolbar style="padding: 0px 10px;">
    <!-- <ion-button (click)="btnFooter()" expand="block" [disabled]="kategoriForm.invalid">
      Simpan Kategori
    </ion-button> -->
    <ion-button (click)="onSubmit()" color="primary" type="submit" expand="block">Simpan</ion-button>
  </ion-toolbar>
</ion-footer>