<ion-card class="ion-padding" style="background: white;">
  <table datatable [dtOptions]="dtOptions" class="row-border hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Index Truck</th>
        <th>Jam</th>
        <th>Nopol</th>
        <th>Perusahaan</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of data">
        <td>{{ data.transaksi }}</td>
        <td>{{ data.truk.index }}</td>
        <td>{{ data.created_at | date:'HH:mm' }}</td>
        <!-- <td>{{ formatWaktu(data.created_at) }}</td> -->
        <td>{{ data.truk.nopol }}</td>
        <td>{{ data.perusahaan.name }}</td>
      </tr>
    </tbody>
  </table>
</ion-card>