<ion-header>
  <ion-toolbar>
    <ion-title>{{ data.nopol }} - Truck Detil</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="modalController.dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <center>
    <img src="{{ qrimg }}"><br>
    <ion-button size="small" (click)="openWin()">
      <ion-icon name="print-outline"></ion-icon> Cetak
    </ion-button>
  </center>

  <!-- Readonly input -->
  <ion-item>
    <ion-label>Nopol. Kendaraan</ion-label>
    <ion-input value="{{ data.nopol }}" readonly style="text-align: end;"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Supir Kendaraan</ion-label>
    <ion-input value="{{ data.supir }}" readonly style="text-align: end;"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Perusahaan</ion-label>
    <ion-input value="{{ data.perusahaan.name }}" readonly style="text-align: end;"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Panjang Bak Kendaraan</ion-label>
    <ion-input value="{{ data.panjang }}" readonly style="text-align: end;"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Lebar Bak Kendaraan</ion-label>
    <ion-input value="{{ data.lebar }}" readonly style="text-align: end;"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Tinggi Bak Kendaraan</ion-label>
    <ion-input value="{{ data.tinggi }}" readonly style="text-align: end;"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Index Kendaraan</ion-label>
    <ion-input value="{{ data.index }} m³" readonly style="text-align: end;"></ion-input>
  </ion-item>