.active-item {
    border-left: 8px solid var(--ion-color-primary)
}
.split-pane-md.split-pane-visible>.split-pane-side {
    min-width: 77px;
    max-width: 270px;
    // max-width: 304px;
    // border-right: var(--border);
    // border-left: 0;
}

.nav0, .nav1, .nav2, .nav3 {
  list-style: none;
  padding: 0 0 0 10px;
  margin-top: 0px;
  li {
      padding: 0px 0 10px 10px;
    //   border-top: solid 1px #ccc;
  }
}