<ion-split-pane when="{{ panelWhen }}" contentId="main">
  <!--  our side menu  -->
  <ion-menu side="start" menuId="first" type="push" contentId="main">
    <ion-header>
      <ion-toolbar color="tertiary">
        <ion-title class="ion-text-center">Itruck QR System</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list lines="full">

        <!-- <ion-item (click)="closeMenu()" routerLink="/app/admin/home" routerDirection="root"
          routerLinkActive="active-item">
          Home
        </ion-item> -->
        <ion-item (click)="closeMenu()" routerLink="/app/admin/project" routerDirection="root"
          routerLinkActive="active-item">
          Kelola Project
        </ion-item>
        <ion-item (click)="closeMenu()" routerLink="/app/admin/corporation" routerDirection="root"
          routerLinkActive="active-item">
          Kelola Perusahaan
        </ion-item>

        <ion-item (click)="closeMenu()" routerLink="/app/admin/kuarri" routerDirection="root"
          routerLinkActive="active-item">
          Kelola Kuarri
        </ion-item>

        <ion-item (click)="closeMenu()" routerLink="/app/admin/truck" routerDirection="root"
          routerLinkActive="active-item">
          Kelola Truck
        </ion-item>

        <ion-item (click)="closeMenu()" routerLink="/app/admin/checker" routerDirection="root"
          routerLinkActive="active-item">
          Kelola Staf Checker
        </ion-item>

        <!-- <ion-item (click)="closeMenu(true)" routerLink="/app/admin/report" routerDirection="root" -->
        <ion-item (click)="closeMenu(true)" routerLink="/app/admin/report" routerDirection="root"
          routerLinkActive="active-item">
          Laporan
        </ion-item>

      </ion-list>



      <!-- <ion-list lines="full">
        <ion-item (click)="menuLaporanLevelChange()">
          <ion-icon [name]="menuLaporanLevel ? 'chevron-down-outline' : 'chevron-forward-outline'" slot="end"
            slot="end">
          </ion-icon>
          Laporan
        </ion-item>
        <ul class="nav1" *ngIf="menuLaporanLevel">
          <li>
            <ion-item>
              Laporan Scan Aktivitas
            </ion-item>
            <ion-item>
              Laporan Aktivitas Proyek
            </ion-item>
            <ion-item>
              Laporan Aktivitas Suplayer
            </ion-item>
            <ul class="nav2">
              <li>
                <ion-item>
                  <ion-icon name="chevron-down-outline" slot="end" slot="end"></ion-icon>
                  i2.name
                </ion-item>
                <ul class="nav3">
                  <li>
                    <ion-item>
                      name
                    </ion-item>
                  </li>
                </ul>
              </li>
            </ul>
        </li>
        </ul>
      </ion-list>-->

    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>
</ion-split-pane>