<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Laporan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid style="background: white;">
    <ion-row>
      <ion-col size="6">
        <ion-datetime [(ngModel)]="starDate" (ionChange)="DateSelect()" displayFormat="DD MMMM YYYY" min="2019-08-14"
          placeholder="Pilih Tanggal Awal">
        </ion-datetime>
      </ion-col>
      <ion-col size="6">
        <ion-datetime [(ngModel)]="endDate" (ionChange)="DateSelect()" displayFormat="DD MMMM YYYY" min="2019-08-14"
          placeholder="Pilih Tanggal Akhir">
        </ion-datetime>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-data-tables [data]="data" *ngIf="datatableShow"></app-data-tables>

  <!-- <ion-card class="ion-padding" style="background: white;">
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Index Truck</th>
          <th>Jam</th>
          <th>Nopol</th>
          <th>Perusahaan</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of data">
          <td style="text-align: center;">{{ data.transaksi }}</td>
          <td style="text-align: center;">{{ data.truk.index }}</td>
          <td style="text-align: center;">{{ formatWaktu(data.created_at) }}</td>
          <td style="text-align: center;">{{ data.truk.nopol }}</td>
          <td>{{ data.perusahaan.name }}</td>
        </tr>
      </tbody>
    </table>
  </ion-card> -->

  <ion-grid style="padding: 12px 5px; background: white;">
    <ion-row>
      <ion-col size="10" style="text-align: end;">
        <span>Total Index =</span>
      </ion-col>
      <ion-col size="2">
        {{ indexTotal.toFixed(1) }}
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>