<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Kelola Proyek</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-list>
    <ion-item>
      <ion-label>
        <h2 style="position: absolute;">Co Building Project</h2>
        <h2 style="text-align: end;">1.000 m³</h2>
        <p>Lingkar Luar Dalam, Kota Vrindavan</p>
      </ion-label>
    </ion-item>
  </ion-list> -->

  <!-- Sliding item with icon start options on end side -->
  <ion-list *ngFor="let data of data">
    <ion-item-sliding>
      <ion-item>
        <ion-label>
          <h2 style="position: absolute;">{{ data.Name }}</h2>
          <h2 style="text-align: end;">{{ data.volume }} m³</h2>
          <p>{{ data.alamat }}</p>
        </ion-label>
      </ion-item>
      <ion-item-options>
        <ion-item-option color="danger">
          <ion-icon slot="start" md="trash-outline"></ion-icon>
          Hapus
        </ion-item-option>
        <ion-item-option color="success" (click)="ubahDataModal(data)">
          <ion-icon slot="start" name="create-outline"></ion-icon>
          Ubah
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <!-- fab placed to the bottom end -->
  <ion-fab (click)="presentModal()" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>