<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Kelola Staff Checker</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-list>
    <ion-item>
      <ion-label>
        <h2>Kang Cekudin Ashiyap</h2>
        <p>0987654321</p>
      </ion-label>
    </ion-item>
  </ion-list> -->

  <ion-list>
    <ion-item-sliding *ngFor="let data of data">
      <ion-item>
        <ion-label>
          <h2>{{ data.username }}</h2>
          <p>{{ data.phone }}</p>
        </ion-label>
      </ion-item>
      <ion-item-options>
        <ion-item-option color="danger" (click)="hapus(data.id)">
          <ion-icon slot="start" md="trash-outline"></ion-icon>
          Hapus
        </ion-item-option>
        <ion-item-option color="success" (click)="ubahDataModal(data)">
          <ion-icon slot="start" name="create-outline"></ion-icon>
          Ubah
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <!-- fab placed to the bottom end -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="presentModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>