<ion-content class="no-padding">

  <ion-grid style="padding: 0%;">
    <ion-row [style.height]="screenHeight">
      <ion-col sizeLg="7" [hidden]="platform.width() < 768">
        <div class="vertical-center">
          <div>
            <h1>SELAMAT DATANG</h1>
            <h2>
              SISTEM INFORMASI PENGELOLAAN <br>
              BONGKAR MUAT MENGGUNAKAN TEKNOLOGI QRCODE
            </h2>
          </div>
        </div>
      </ion-col>
      <ion-col sizeLg="4" style="background-color: #3880ff;">
        <h3 style="text-align: center; margin-top: 170px; margin-bottom: 35px; color: white;">
          Login Pengguna
        </h3>

        <form [formGroup]="form" (ngSubmit)="onSubmit()" class="ion-padding">
          <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>
          <ion-button type="submit" color="light" expand="block" style="margin-top: 20px;">Login</ion-button>
        </form>
      </ion-col>
      <ion-col sizeLg="1" [hidden]="platform.width() < 768" style="background-color: #3880ff;"></ion-col>
    </ion-row>
  </ion-grid>

</ion-content>