<ion-header>
  <ion-toolbar>
    <ion-title>activity-project</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content style="--ion-background-color:#f7f7f7;">
  <ion-row style="--ion-background-color:white;">
    <ion-col size="6" class="ion-no-padding">
      <ion-item>
        <ion-label>Dari Tanggal</ion-label>
        <ion-datetime (ionChange)="eventStartDate($event.target.value)" displayFormat="DD/MM/YYYY" placeholder="Pilih">
        </ion-datetime>
      </ion-item>
    </ion-col>
    <ion-col size="6" class="ion-no-padding">
      <ion-item>
        <ion-label>Sampai Tanggal</ion-label>
        <ion-datetime (ionChange)="eventEndDate($event.target.value)" displayFormat="DD/MM/YYYY" placeholder="Pilih">
        </ion-datetime>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-card class="ion-padding" style="background: white;">
    <table datatable class="row-border hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>First name</th>
          <th>Last name</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Foo</td>
          <td>Bar</td>
        </tr>
      </tbody>
    </table>
  </ion-card>

</ion-content>