<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Kelola Tambang Kuari</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let data of data; index as i">
      <ion-item>
        <ion-label>
          {{ data.name }}
          <!-- <h2 style="position: absolute;"></h2> -->
          <!-- <h2 style="text-align: end;">1.000 m³</h2>
      <p>Lingkar Luar Dalam, Kota Vrindavan</p> -->
        </ion-label>
      </ion-item>
      <ion-item-options>
        <ion-item-option color="danger" (click)="hapus(data.id)">
          <ion-icon slot="start" md="trash-outline"></ion-icon>
          Hapus
        </ion-item-option>
        <ion-item-option color="success" (click)="ubahDataModal(data)">
          <ion-icon slot="start" name="create-outline"></ion-icon>
          Ubah
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <!-- fab placed to the bottom end -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="presentModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>