<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Bongkar Muat QR Sistem
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<!-- <ion-content [fullscreen]="true"> -->
<!-- <ion-content color="primary" class="ion-padding"> -->
<ion-content class="ion-padding">
  <br>

  <h3 style="text-align: center;">Bongkar Muat QR Sistem</h3>

  <br>


  <ion-card style="border-left: 8px solid var(--ion-color-primary)">
    <ion-card-header>

      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col class="ion-text-start">
            <ion-card-subtitle color="primary">Card Subtitle</ion-card-subtitle>
            <ion-card-title>Card Title</ion-card-title>
          </ion-col>
          <!-- <ion-col class="ion-text-end">
            <ion-card-title>Card Title</ion-card-title>
          </ion-col> -->
        </ion-row>
      </ion-grid>
    </ion-card-header>
  </ion-card>

  <!-- <form [formGroup]="form" (ngSubmit)="onSubmit(model)">
    <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>
    <br>
    <ion-button color="light" type="submit" expand="block">Login</ion-button>
  </form> -->

  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="ion-text-start">
          <h3>text-start</h3>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac vehicula lorem.
        </div>
      </ion-col>
      <ion-col>
        <div class="ion-text-end">
          <h3>text-end</h3>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac vehicula lorem.
        </div>
      </ion-col>
      <ion-col>
        <div class="ion-text-center">
          <h3>text-center</h3>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac vehicula lorem.
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="ion-text-justify">
          <h3>text-justify</h3>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac vehicula lorem.
        </div>
      </ion-col>
      <ion-col>
        <div class="ion-text-wrap">
          <h3>text-wrap</h3>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac vehicula lorem.
        </div>
      </ion-col>
      <ion-col>
        <div class="ion-text-nowrap">
          <h3>text-nowrap</h3>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row class="ion-justify-content-start">
      <ion-col size="3">
        <div>
          1 of 2
        </div>
      </ion-col>
      <ion-col size="3">
        <div>
          2 of 2
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col size="3">
        <div>
          1 of 2
        </div>
      </ion-col>
      <ion-col size="3">
        <div>
          2 of 2
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-end">
      <ion-col size="3">
        <div>
          1 of 2
        </div>
      </ion-col>
      <ion-col size="3">
        <div>
          2 of 2
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-around">
      <ion-col size="3">
        <div>
          1 of 2
        </div>
      </ion-col>
      <ion-col size="3">
        <div>
          2 of 2
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-between">
      <ion-col size="3">
        <div>
          1 of 2
        </div>
      </ion-col>
      <ion-col size="3">
        <div>
          2 of 2
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-evenly">
      <ion-col size="3">
        <div>
          1 of 2
        </div>
      </ion-col>
      <ion-col size="3">
        <div>
          2 of 2
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row class="ion-align-items-start">
      <ion-col>
        <div>
          1 of 4
        </div>
      </ion-col>
      <ion-col>
        <div>
          2 of 4
        </div>
      </ion-col>
      <ion-col>
        <div>
          3 of 4
        </div>
      </ion-col>
      <ion-col>
        <div>
          4 of 4 <br>
          # <br>
          # <br>
          #
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="ion-align-items-end">
      <ion-col>
        <div>
          1 of 4
        </div>
      </ion-col>
      <ion-col>
        <div>
          2 of 4
        </div>
      </ion-col>
      <ion-col>
        <div>
          3 of 4
        </div>
      </ion-col>
      <ion-col>
        <div>
          4 of 4 <br>
          # <br>
          # <br>
          #
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="ion-align-items-center">
      <ion-col>
        <div>
          1 of 4
        </div>
      </ion-col>
      <ion-col>
        <div>
          2 of 4
        </div>
      </ion-col>
      <ion-col>
        <div>
          3 of 4
        </div>
      </ion-col>
      <ion-col>
        <div>
          4 of 4 <br>
          # <br>
          # <br>
          #
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="ion-align-items-baseline">
      <ion-col>
        <div>
          1 of 4
        </div>
      </ion-col>
      <ion-col>
        <div>
          2 of 4
        </div>
      </ion-col>
      <ion-col>
        <div>
          3 of 4
        </div>
      </ion-col>
      <ion-col>
        <div>
          4 of 4 <br>
          # <br>
          # <br>
          #
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="ion-align-items-stretch">
      <ion-col>
        <div>
          1 of 4
        </div>
      </ion-col>
      <ion-col>
        <div>
          2 of 4
        </div>
      </ion-col>
      <ion-col>
        <div>
          3 of 4
        </div>
      </ion-col>
      <ion-col>
        <div>
          4 of 4 <br>
          # <br>
          # <br>
          #
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>