<ion-header>
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>

      <ion-col size-xs="12" size-sm="6" size-lg="4">
        <ion-card style="border-left: 8px solid var(--ion-color-primary)">
          <ion-card-header>
            <ion-card-subtitle color="primary">Total Project</ion-card-subtitle>
            <ion-card-title>{{ projectCount }}</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col size-xs="12" size-sm="6" size-lg="4">
        <ion-card style="border-left: 8px solid var(--ion-color-primary)">
          <ion-card-header>
            <ion-card-subtitle color="primary">Total Kuarri</ion-card-subtitle>
            <ion-card-title>{{ kuarriCount }}</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>


      <ion-col size-xs="12" size-sm="6" size-lg="4">
        <ion-card style="border-left: 8px solid var(--ion-color-primary)">
          <ion-card-header>
            <ion-card-subtitle color="primary">Total Perusahaan</ion-card-subtitle>
            <ion-card-title>{{ perusahaanCount }}</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col size-xs="12" size-sm="6" size-lg="4">
        <ion-card style="border-left: 8px solid var(--ion-color-primary)">
          <ion-card-header>
            <ion-card-subtitle color="primary">Total Truck</ion-card-subtitle>
            <ion-card-title>{{ truckCount }}</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col size-xs="12" size-sm="6" size-lg="4">
        <ion-card style="border-left: 8px solid var(--ion-color-primary)">
          <ion-card-header>
            <ion-card-subtitle color="primary">Total Staff Checker</ion-card-subtitle>
            <ion-card-title>{{ staffCount }}</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col size-xs="12" size-sm="6" size-lg="4">
        <ion-card style="border-left: 8px solid #4e73df">
          <ion-card-header>
            <ion-card-subtitle color="primary">Total Scan Ritase</ion-card-subtitle>
            <ion-card-title>{{ ritaseScanCount }}</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>